<div class="card m-3">
    <h5 class="card-header">Patient Enrollment Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-4">
                    <label>Age</label>
                    <input type="text" formControlName="age" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                        <div *ngIf="f.age.errors.required">Age is required</div>
                        <div *ngIf="f.age.errors.age">Enter numbers only</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div>Gender</div>
                    <label class="ml-5 mr-10">
                        <input type="radio" value="Male" class="mr-5" formControlName="gender"
                            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <span class="mr-5">Male</span>
                    </label>
                    <label>
                        <input type="radio" value="Female" class="mr-5" formControlName="gender"
                            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <span>Female</span>
                    </label>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Weight</label>
                    <input type="text" formControlName="weight" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                    <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                        <div *ngIf="f.weight.errors.pattern">Enter numbers only</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Phone No.</label>
                <input type="text" formControlName="phone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone is required</div>
                    <div *ngIf="f.phone.errors.pattern">Enter numbers only</div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-6">
                    <label>Profile Picture</label>
                    <input type="file" formControlName="profile_pic" class="form-control" />
                </div>
                <div class="form-group col-6">
                    <label>Medical History</label>
                    <select formControlName="medical_history" class="form-control">
                        <option value=""></option>
                        <option value="Diabetes">Diabetes</option>
                        <option value="Hypertension">Hypertension</option>
                        <option value="Heart_disease">Heart Disease</option>
                        <option value="Asthma">Asthma</option>
                        <option value="High_Cholesterol">High Cholesterol</option>
                        <option value="Thyroid">Thyroid</option>
                        <option value="Cancer">Cancer</option>
                        <option value="Jaundice">Jaundice</option>

                    </select>
                </div>
            </div>
            <div class="text-center mt-5">
                <button class="btn btn-primary mr-5">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>